*{
    box-sizing: border-box;
}


body{
    background-color: #e6e6fa;
}

.home{
    float:left;
    height:150px;
    width:200px;
    background-color: white;
    font-size: 50px;
    text-align: center;
    padding-top:50px;
    
}

a{
    text-decoration: none;
}
.block{
    display:block;
    width:500px;
    background-color: white;
    margin:0 auto;
    font-family: Arial, Times, serif;
}

.title{
    text-align: center;

}

.egg-sandwich{
    border:5px solid rgb(0, 217, 255);
    width:300px;
    height:auto;
    
    
}

.caption{
    float:right;
text-align: center;
margin:20px;
    
}

p,li{
       background-color:rgba(90, 90, 90, 0.2);
       margin:10px;
       padding:10px;

}
.floated-left{
width:170px;
}

li::marker {
  color: rgb(166, 99, 243);         
  font-size: 20px;     
  font-weight: bold;   
}

h2{
    
       margin:10px;
       padding:10px;
}
